@import "tailwindcss";

:root {
  --color-gray-950: hsl(0, 0%, 17%);
  --color-gray-400: hsl(0, 0%, 58%);

  --font-rubik: "Rubik", sans-serif;
}

body {
  font-family: var(--font-rubik);
  margin: 0;
  min-height: 100vh;
  font-weight: 400;
}

input {
  font-size: 18px;
  font-family: var(--font-rubik);
  font-weight: 500;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}
